<p id="notice"><%= notice %></p>

<% if current_user %>
  <%= link_to 'Sign-out', destroy_user_session_path, method: :delete %>
  <h4>Helo! <%=current_user.name %></h4>
<% else %>
  <%= link_to 'Sign-in', new_user_session_path %>
  <%= link_to 'Sign-up', new_user_registration_path %>
<% end %>
<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.post %></td>
        <% if user_signed_in? %>
          <td><%= post.user.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
